.valueButton {
  display              : inline-block;
  border               : 1px solid #ddd;
  margin               : 0px;
  width                : 40px;
  height               : 21px;
  text-align           : center;
  vertical-align       : middle;
  padding              : 11px 0;
  background           : #eee;
  -webkit-touch-callout: none;
  -webkit-user-select  : none;
  -khtml-user-select   : none;
  -moz-user-select     : none;
  -ms-user-select      : none;
  user-select          : none;
}

.valueButton:hover {
  cursor: pointer;
}

.quantity #decrease {
  margin-right : -4px;
  border-radius: 8px 0 0 8px;
}

.quantity #increase {
  margin-left  : -4px;
  border-radius: 0 8px 8px 0;
}

.quantity #input-wrap {
  margin : 0px;
  padding: 0px;
}

input#number {
  text-align   : center;
  border       : none;
  border-top   : 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin       : 0px;
  width        : 45px;
  height       : 40.5px;
}

.inputStyle {
  -webkit-appearance: none;
  margin            : 0;
  height            : 39px;
  width             : 39px;
  text-align:center;
}

.quantity-input {
  .MuiInputBase-root {
    height: 45px;
    width : 45px
  }
}